@import "~scss/config";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");

.play {
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;

  .title {
    font-size: 2.5rem;
    font-family: "Playfair Display", serif;
    color: #fff;
    text-align: center;
  }

  .playF {
    width: 100%;
    margin: 2rem;

    .ControlF {
      // border: 1px solid white;
      // background-color: gray;
      margin-bottom: 3rem;
      .film {
        width: 100%;
        min-height: 400px;
        border: none;
      }

      .btnGroup {
        width: 100%;
        margin-left: 1.5rem;
        margin-bottom: auto;
        position: flex;
        margin-top: 0.5rem;

        .btn {
          color: #fff;
          background-color: rgba(0, 0, 0, 0);
          border: none;
          font-size: 1.5rem;
          margin: 0 0.5rem 0 0.5rem;
          cursor: pointer;
        }

        .left {
          display: inline;
          width: auto;
        }

        .right {
          display: inline;
          width: auto;
          float: right;
          margin-right: 1.5rem;
        }
      }
    }

    .viewer {
      color: #fff;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      font-size: 1.5rem;
      margin: 0 0.5rem 0 0.5rem;
      width: 50%;
      margin-top: 0.3rem;

      span {
        font-size: 1.1rem;
        position: absolute;
        padding-top: 0.1rem;
        padding-left: 0.2rem;
      }
    }

    .episode {
      width: 50%;
      margin-left: -4rem;
    }
  }
}
