@import "~scss/config";

.comment-section {
  text-align: center;
  width: 50%;
  margin: 0 auto 3rem auto;
  padding-bottom: 3rem;

  @include screen(tablet) {
    width: 100%;
  }

  .btn-show-comment {
    @include hover(100%, center center, #fff, $blue);
    justify-content: center;
    background: $orange;
    color: #fff;
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
    letter-spacing: 2px;
    border-radius: 1.5rem;
    border: none;
    transition: $transition;
    cursor: pointer;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    opacity: 0;

    &.show {
      opacity: 1;
    }
  }
}