@import "../../../scss/config";
.right-container {
  width: 100%;
  &__header {
    @include flex(row, space-between, center);
    margin-bottom: 1rem;
    &-title {
      color: $orange;
      font-size: 2.5rem;
      text-transform: uppercase;
    }
    .options-btn {
      button {
        padding: 1rem 1.8rem;
        margin: 0.5rem;
        border-radius: 5rem;
        background-color: rgba($lightBlack, 0.7);
        border: none;
        color: gray;
        font-size: 1.1rem;
        cursor: pointer;
        &.active {
          background-color: #fff;
          color: $darkBlack;
        }
      }
    }
  }
}
