@import "~scss/config";
.reset-password {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  .container {
    width: 40vw;
    height: 50vh;
    background-color: $lightBlack;
    border-radius: 1rem;
    form {
      width: 100%;
      padding: 3rem 1rem;
      .text-input {
        width: 100%;

        input {
          width: 100%;
          border: none;
          border-radius: 0.5rem;
          padding: 0.3rem 1rem;
          font-size: 1.1rem;
          background-color: #eee;
          margin: 1rem 0;
        }
      }
      .btn-submit {
        @include hover(100%, center center, #fff, $red);
        @include button($blue, relative);

        margin: 2rem 0 0 1rem;
      }
    }
  }
}
