@import "~scss/config";
.film-center {
  margin: 1rem;
  max-width: 270px;
  opacity: 0;
  transform: scale(0.5);
  transition: $transition;
  &.show {
    opacity: 1;
    transform: scale(1);
  }
  .img {
    position: relative;
    cursor: pointer;
    .evaluate {
      position: absolute;
      top: -1rem;
      left: 45%;
      width: 3rem;
      height: 3rem;
      background: transparent;
      z-index: 1;

      .icon {
        color: $orange;
        font-size: 3rem;
      }
      .fav_count {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        display: grid;
        place-items: center;
      }
    }
    &-center {
      position: relative;
      height: 18rem;
      img {
        width: 100%;
        height: 18rem;
        border-radius: 0.5rem;
        object-fit: cover;
        transition: $transition;

        &:hover {
          opacity: 0.5;
        }
      }
      .watched {
        @include flex(row, center, center);
        background-color: rgba($lightBlack, 0.7);
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        color: $orange;
        padding: 1rem 0;
      }
    }
  }
  &__details {
    .title {
      color: #fff;
      padding-bottom: 0.5rem;
      width: 100%;
      font-size: 1rem;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
    p {
      color: #fff;
      .icon-tag {
        color: $orange;
        margin-right: 0.5rem;
      }
    }
  }
}
